* { box-sizing: border-box; }

:root {--rouge: #e02222;
       --noir: #000000;
       --blanc: #ffffff;
       --gradient-moz: -moz-linear-gradient(45deg,  #d56638 0%, #af0b00 100%);
       --gradient-webkit:  -webkit-linear-gradient(45deg,  #d56638 0%,#af0b00 100%); /* Chrome10-25,Safari5.1-6 */
       --gradient-safari:linear-gradient(45deg,  #d56638 0%,#af0b00 100%);

}

html, body{ height: 100%; }

body{
    margin:0;
    overflow-x: hidden;
    font-family: 'Ruda';
    color: #444;
}
body.locked { overflow: hidden; }

/* ------------------------------------------------ hard rezet */

h1, h2, h3, h4, p, ul, ol, blockquote {margin: 0; padding: 0;}
ul, ol { list-style: none; }

/* ------------------------------------------------ commons */

:root {

}

/* ------------------------------------------------ intro video */

.introtext {
    font-family: 'VG5000';

    /* pointer-events: none; */
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 20;
    color: var(--blanc);
    font-size: 7em;
    line-height: .9em;
    /* padding: 2em calc(5vw); */
}

/* A refaire plus proprement */
/* #intro-texte1 {margin-top: -0.2em; z-index: 20;}
#intro-texte2 {margin-top: -1.5em; z-index: 20;}
#intro-texte3 {margin-top: -2em; z-index: 20 ;}
#intro-texte4 {margin-top: -1.2em; color: var(--noir); z-index: 1 ; */


.slide{
  text-align: center;
  background: var(--noir);
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide.current,
.slide.title{
    visibility: visible;
}
.slide.title{
    animation-name: glitch-anim-1;
    animation-duration: 8s;
    animation-delay: 13s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    opacity: 1;
}

#intro-overlay{
    /* pointer-events: none; */
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: var(--noir);
    opacity: 0;
    transition: opacity 250ms ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}
#intro-overlay.visible{
    opacity: 1;
}

#scrollbtn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  background: var(--blanc);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-indent: 200px;
  overflow: hidden;
  border: none;
  padding: 0;
  transform: translate(-50%, 100px);
  transition: transform 250ms ease-out;
}
#scrollbtn.visible {
  transform: translate(-50%, 0);
}
#scroll{
  margin-top: 100vh
}

/* partie 1 intro scroll */
.image_dataperso,
.fcku,
#scroll > div {position: fixed;
             width: 100vw;
             height: 100vh;

  }

  .titre_partie_1 h1 {font-family: 'VG5000';
                   z-index: 20;
                   color: var(--noir);
                   font-size: 5em;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   line-height: .9em;
                   padding-left: 20vw;
                   padding-right: 20vw;
                  }

   .titre_partie_1 p {font-family: 'VG5000';
                    position: absolute;
                    z-index: 20;
                    color: var(--noir);
                    font-size: 1.5em;
                    margin-left: 20vw;
                    margin-right: 20vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;}


    .image_dataperso  img {width: 90vw;
                          margin-left: 5vw;
                          margin-bottom: 5vh;
                          margin-top: 5vh;
                          display: flex;
                          justify-content: center;
                          align-items: center;
    }
/*
big brother section */


#big-brother h1 { margin-top: -15vh;
                  margin-left: -20vw;
                  margin-right: -20vw;}


#big-brother img {
  left: 50%;
  transform: translateX(-50%);
                  position: absolute;
                  width: 80vw;}

#surveille {margin-top: 15vh;}

/*
tout au long de tes navigations */

.tes_nav_img {

    width: 40vw;
    right: 5vw;
    position: fixed;
    height: 50vh;

}

.tes_nav_img img {}
#tes_nav_titre  {margin-top: -20vh;
                padding-left: 5vw ;
                padding-right: 5vw ;
                padding-bottom: 10vh;}

#text_v2 {margin-left: 10vw;
              margin-right: 50vw;}


#img_tes_nav_0 {position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  bottom: 0;
                box-shadow: 3px 3px var(--noir);
                z-index: 3}

#img_tes_nav_1 {
  position: absolute;
  transform: translate(-50%,0);
  z-index: 2
}

#img_tes_nav_2 {
  position: absolute;
  transform: translate(-50%,0);
  z-index: 1
}

#img_tes_nav_3 {
  position: absolute;
  transform: translate(-50%,0);
  z-index: 1
}

/*
tu nous en donnes même le droit */


#tu_donnes_droit_titre {margin-top: -20vh;
                        width: 60vw;
                        margin-left: 1vw;
                        padding-left: 5vw ;
                        padding-right: 5vw ;
                        padding-bottom: 10vh;}



              /*
demande section */



#demande_box {width: 30vw !important;
              height: 70vh !important;
              position: absolute;
              margin-right: 20vw;
              margin-left: 55vw;
              margin-top: -16vh;
              background-color: var(--noir);
              overflow-y: scroll;
              overflow-x: none;
              z-index: 20 !important;
              border: 2px solid var(--blanc);
              box-shadow: 10px 10px var(--noir);

}

#titre_demande {font-family:'VG5000';
                margin-top: 40px;
                margin-bottom: 40px;
                margin-left: 40px;
                color: var(--blanc);
        }


#demande_box p {text-align: left;
                color: var(--blanc);
                height: 50% !important;
                margin-left: 40px;
                margin-right: 40px;
                margin-bottom: 20px;
                font-size: 0.8em;
                display: inline;

              }

#demande_box p span {background-color: var(--blanc);
                     color: var(--noir);}


#demande_box a {background-color: var(--rouge);
                    color: var(--blanc);
                    text-decoration: none;
                    z-index: 20 !important;}

#demande_box a:hover {background-color: var(--blanc);
                     color: var(--noir);}

/*
transition billet */

#billet {width: 100% !important;}





/*
deuxieme partie // solution  */



.titre_partie_2 {background: var(--gradient-moz);
                background: var(--gradient-webkit);
                background: var(--gradient-safari);
}
